body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f8;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}

p {
    color: #555;
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 10px;
    background: #2f66e0;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
}

.doctor-btn {
    background: #1c9c55;
}